{% extends 'layout.html'%}

{% block title %}
    Agregar Productos en Almacen
{% endblock %}


{% block content %}
    <h4>Agregar Producto en Almacen</h4>
    <hr id="hr_cabecera"/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div id="content">
        <div class="form-content">
            <div class="form">
                <form id='lot_form' method="POST" action="" >
                    {% csrf_token %}
                    {{ form.object }}
                    <fieldset>
                        <label class="form-label mt-4">Seleccione un producto</label>
                        <select id="product" name="product">
                            {% for p in product %}
                                <option for="product" value="{{ p.id }}">{{ p }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="form-label mt-4">Seleccione un almacen</label>
                        <select id="warehouse" name="warehouse">
                            {% for w in warehouse %}
                                <option for="product" value="{{ w.id }}">{{ w }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <fieldset>
                        <label class="form-label mt-4">Cantidad</label>
                        {{form.quantity}}
                    </fieldset>
                    <input type="submit" value="Cargar Lote">
                </form>
            </div>
        </div>
    </div>
{% endblock %}