<!-- pagination.html : Esta pagina sera incluida en todos las templates donde se necesitara la paginacion,
como es el caso de las visualizacion de todas las transacciones "lot_list.html" -->
<div class="pagination">
    <ul class="pagination pagination-sm">
        {% if lots.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; Primero</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ lots.previous_page_number }}">Anterior</a>
        </li>
        {% endif %}
        <li class="page-item">
        <span class="page-link">
            Pagina {{lots.number}} de {{lots.paginator.num_pages}}
        </span>
        </li>
        {% if lots.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ lots.next_page_number }}">Siguiente</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ lots.paginator.num_pages }}">Ultima &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>