{% extends 'layout.html'%}

{% block title %}
    Agregar un Producto
{% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h4>Agregar Un Producto</h4>
    <hr id="hr_cabecera"/>
    <div id="content">
        <div class="form-content">
            <div class="form">
                <form id='product_add' method="POST" enctype="multipart/form-data" action="" >
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input type="submit" value="Agregar Producto">
                </form>
            </div>
        </div>
    </div>
{% endblock %}