{% extends 'layout.html'%}
{% load static %}
{% block title %}
    Productos
{% endblock %}


{% block content %}

    <h4>Todos Los Productos</h4>
    <hr id="hr_cabecera"/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div id="content">
        <div id="products_row">
            {% for product in products %}
            <div class="column">
                <div id="card-product" class="card mb-3">
                    <h5 class="card-header">{{product.product.name}}</h5>
                    <div class="card-image">
                        {% if lot.product.image != 'null' and product.product.image.url|length >= 1 %}
                            <img class="card-image" src="{{product.product.image.url}}">
                        {% else %}
                            <img class="card-image" src="{% static 'images/no-imagen.png' %}">
                        {% endif %}
                        <text></text>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{product.product.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <p class="card-text">Proveedor: {{product.product.proveedor}}</p>
                        <li class="list-group-item">Precio: {{product.product.price}}</li>
                    </ul>
                    <div class="card-body">
                        <h6>Cantidad: {{product.act_stock}}</h6>
                        <a href="{% url 'transaction' product.id %}" class="card-link">Comprar</a>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% include 'pagination.html' %}
{% endblock %}